.background-img {
    background: linear-gradient(rgba(44, 8, 8, 0.5), rgba(3, 3, 115, 0.4)), url(../../Images/cover.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
}